# <========================================================================================================>

#   ██╗    ██╗██╗██████╗ ███████╗██████╗    ███╗   ██╗███████╗████████╗██╗    ██╗ ██████╗ ██████╗ ██╗  ██╗
#   ██║    ██║██║██╔══██╗██╔════╝██╔══██╗   ████╗  ██║██╔════╝╚══██╔══╝██║    ██║██╔═══██╗██╔══██╗██║ ██╔╝
#   ██║ █╗ ██║██║██████╔╝█████╗  ██║  ██║   ██╔██╗ ██║█████╗     ██║   ██║ █╗ ██║██║   ██║██████╔╝█████╔╝ 
#   ██║███╗██║██║██╔══██╗██╔══╝  ██║  ██║   ██║╚██╗██║██╔══╝     ██║   ██║███╗██║██║   ██║██╔══██╗██╔═██╗ 
#   ╚███╔███╔╝██║██║  ██║███████╗██████╔╝██╗██║ ╚████║███████╗   ██║   ╚███╔███╔╝╚██████╔╝██║  ██║██║  ██╗
#    ╚══╝╚══╝ ╚═╝╚═╝  ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═══╝╚══════╝   ╚═╝    ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

# <========================================================================================================>
#                                            @Author: TheWisker
# <========================================================================================================>
[Match]
Type=ether
Virtualization=no
# <========================================================================================================>
[Link]
MTUBytes=9000 # Jumbo frames
ActivationPolicy=up
# <========================================================================================================>
[Network]
DHCP=yes
DNSSEC=yes
DNSOverTLS=yes
MulticastDNS=resolve
IPv6PrivacyExtensions=yes
Description="Physical wired network"
# <========================================================================================================>
[DHCPv4]
UseDNS=no
Anonymize=yes
RapidCommit=yes
# <========================================================================================================>
[DHCPv6]
RapidCommit=yes
SendHostname=no
# <========================================================================================================>
[Route]
InitialCongestionWindow=25
InitialAdvertisedReceiveWindow=25
# <========================================================================================================>