! <=======================================================================================>

!      ██╗  ██╗██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
!      ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
!       ╚███╔╝ ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
!       ██╔██╗ ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
!   ██╗██╔╝ ██╗██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
!   ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝

! <=======================================================================================>
!                                   @Author: TheWisker
! <=======================================================================================>
!  Use pywal colors:
! <=======================================================================================>
#include "~/.cache/wal/colors.Xresources"
! <=======================================================================================>
!  Cursor configuration:
! <=======================================================================================>
Xcursor.size:               16
Xcursor.theme:              Hacked
! <=======================================================================================>
!  Gtk theme configuration:
! <=======================================================================================>
gtk.theme_name:             Orchis
gtk.icon_theme_name:        Amy
! <=======================================================================================>
!  Font configuration:
! <=======================================================================================>
wm.font:                    Iosevka Nerd Font 11
gtk.font_name:              Iosevka Nerd Font 11
gtk.monospace_font_name:    Iosevka Nerd Font 11
! <=======================================================================================>
