# <==================================================================================================================================>

#    █████╗ ██╗   ██╗████████╗ ██████╗ ███████╗████████╗ █████╗ ██████╗ ████████╗████████╗ █████╗ ██████╗  ██████╗ ███████╗████████╗
#   ██╔══██╗██║   ██║╚══██╔══╝██╔═══██╗██╔════╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝╚══██╔══╝██╔══██╗██╔══██╗██╔════╝ ██╔════╝╚══██╔══╝
#   ███████║██║   ██║   ██║   ██║   ██║███████╗   ██║   ███████║██████╔╝   ██║      ██║   ███████║██████╔╝██║  ███╗█████╗     ██║
#   ██╔══██║██║   ██║   ██║   ██║   ██║╚════██║   ██║   ██╔══██║██╔══██╗   ██║      ██║   ██╔══██║██╔══██╗██║   ██║██╔══╝     ██║
#   ██║  ██║╚██████╔╝   ██║   ╚██████╔╝███████║   ██║   ██║  ██║██║  ██║   ██║██╗   ██║   ██║  ██║██║  ██║╚██████╔╝███████╗   ██║
#   ╚═╝  ╚═╝ ╚═════╝    ╚═╝    ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝   ╚═╝

# <==================================================================================================================================>
#                                                           @Author: TheWisker
# <==================================================================================================================================>
#                   Autostart target for starting required services for achieving a complete graphical environment
# <==================================================================================================================================>
[Unit]
Description=Current graphical user session autostart target
Documentation=man:systemd.special(7)
RefuseManualStart=no
StopWhenUnneeded=no
Wants=dropbox.service
Wants=redshift.service
Wants=xsettingsd.service
Wants=light-locker.service
Wants=blueman-applet.service
Wants=xdg-desktop-portal.service
Wants=plasma-polkit-agent.service
# <==================================================================================================================================>
