# <===========================================================================================>

#   ██╗     ██╗ ██████╗ ██╗  ██╗████████╗   ██╗      ██████╗  ██████╗██╗  ██╗███████╗██████╗ 
#   ██║     ██║██╔════╝ ██║  ██║╚══██╔══╝   ██║     ██╔═══██╗██╔════╝██║ ██╔╝██╔════╝██╔══██╗
#   ██║     ██║██║  ███╗███████║   ██║█████╗██║     ██║   ██║██║     █████╔╝ █████╗  ██████╔╝
#   ██║     ██║██║   ██║██╔══██║   ██║╚════╝██║     ██║   ██║██║     ██╔═██╗ ██╔══╝  ██╔══██╗
#   ███████╗██║╚██████╔╝██║  ██║   ██║      ███████╗╚██████╔╝╚██████╗██║  ██╗███████╗██║  ██║
#   ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝      ╚══════╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
                                                                                         
# <===========================================================================================>
#                                     @Author: TheWisker
# <===========================================================================================>
[Unit]
Description="Start light-locker to listen for events and manage session locking"
# <===========================================================================================>
[Service]
ExecStart=/usr/bin/light-locker
# <===========================================================================================>