# <===========================================================================================>

#   ██████╗ ████████╗██████╗ ██████╗ ██╗  ██╗ ██████╗ ████████╗██╗███╗   ███╗███████╗██████╗
#   ██╔══██╗╚══██╔══╝██╔══██╗██╔══██╗██║ ██╔╝██╔═══██╗╚══██╔══╝██║████╗ ████║██╔════╝██╔══██╗
#   ██████╔╝   ██║   ██████╔╝██████╔╝█████╔╝ ██║██╗██║   ██║   ██║██╔████╔██║█████╗  ██████╔╝
#   ██╔══██╗   ██║   ██╔══██╗██╔══██╗██╔═██╗ ██║██║██║   ██║   ██║██║╚██╔╝██║██╔══╝  ██╔══██╗
#   ██████╔╝   ██║   ██║  ██║██████╔╝██║  ██╗╚█║████╔╝██╗██║   ██║██║ ╚═╝ ██║███████╗██║  ██║
#   ╚═════╝    ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝ ╚╝╚═══╝ ╚═╝╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═╝

# <===========================================================================================>
#                                     @Author: TheWisker
# <===========================================================================================>
[Unit]
Description=Btrbk backup home every %i
# <===========================================================================================>
[Timer]
OnBootSec=2min
OnUnitActiveSec=%i
Unit=btrbk@home.service
# <===========================================================================================>
[Install]
WantedBy=timers.target
# <===========================================================================================>
