# <===========================================================================================================>

#   ██████╗ ████████╗██████╗ ██████╗ ██╗  ██╗ ██████╗    ███████╗███████╗██████╗ ██╗   ██╗██╗ ██████╗███████╗
#   ██╔══██╗╚══██╔══╝██╔══██╗██╔══██╗██║ ██╔╝██╔═══██╗   ██╔════╝██╔════╝██╔══██╗██║   ██║██║██╔════╝██╔════╝
#   ██████╔╝   ██║   ██████╔╝██████╔╝█████╔╝ ██║██╗██║   ███████╗█████╗  ██████╔╝██║   ██║██║██║     █████╗
#   ██╔══██╗   ██║   ██╔══██╗██╔══██╗██╔═██╗ ██║██║██║   ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██║██║     ██╔══╝
#   ██████╔╝   ██║   ██║  ██║██████╔╝██║  ██╗╚█║████╔╝██╗███████║███████╗██║  ██║ ╚████╔╝ ██║╚██████╗███████╗
#   ╚═════╝    ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝ ╚╝╚═══╝ ╚═╝╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚═╝ ╚═════╝╚══════╝

# <===========================================================================================================>
#                                              @Author: TheWisker
# <===========================================================================================================>
[Unit]
Description=Btrbk backup with filter %i
Documentation=man:btrbk(1)
# <===========================================================================================================>
[Service]
Type=oneshot
TimeoutStopSec=60
ExecStart=/usr/bin/btrbk run %i
# <===========================================================================================================>
