# <===============================================================================================================================>

#   ██████╗ ██╗   ██╗██████╗ ███████╗██████╗ ███████╗███╗   ███╗ ██████╗ ██╗   ██╗███████╗████████╗██╗███╗   ███╗███████╗██████╗ 
#   ██╔══██╗██║   ██║██╔══██╗██╔════╝██╔══██╗██╔════╝████╗ ████║██╔═══██╗██║   ██║██╔════╝╚══██╔══╝██║████╗ ████║██╔════╝██╔══██╗
#   ██║  ██║██║   ██║██████╔╝█████╗  ██████╔╝█████╗  ██╔████╔██║██║   ██║██║   ██║█████╗     ██║   ██║██╔████╔██║█████╗  ██████╔╝
#   ██║  ██║██║   ██║██╔═══╝ ██╔══╝  ██╔══██╗██╔══╝  ██║╚██╔╝██║██║   ██║╚██╗ ██╔╝██╔══╝     ██║   ██║██║╚██╔╝██║██╔══╝  ██╔══██╗
#   ██████╔╝╚██████╔╝██║     ███████╗██║  ██║███████╗██║ ╚═╝ ██║╚██████╔╝ ╚████╔╝ ███████╗██╗██║   ██║██║ ╚═╝ ██║███████╗██║  ██║
#   ╚═════╝  ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝ ╚═════╝   ╚═══╝  ╚══════╝╚═╝╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═╝

# <===============================================================================================================================>
#                                                        @Author: TheWisker
# <===============================================================================================================================>
[Unit]
Description=Find duplicate regions in root disk and submit them for deduplication %i
# <===============================================================================================================================>
[Timer]
OnCalendar=%i
Persistent=true
OnUnitActiveSec=%i
RandomizedDelaySec=1800
Unit=duperemove@/.service
# <===============================================================================================================================>
[Install]
WantedBy=timers.target
# <===============================================================================================================================>
