# <===============================================================================================================================================>

#   ██████╗ ██╗   ██╗██████╗ ███████╗██████╗ ███████╗███╗   ███╗ ██████╗ ██╗   ██╗███████╗   ███████╗███████╗██████╗ ██╗   ██╗██╗ ██████╗███████╗
#   ██╔══██╗██║   ██║██╔══██╗██╔════╝██╔══██╗██╔════╝████╗ ████║██╔═══██╗██║   ██║██╔════╝   ██╔════╝██╔════╝██╔══██╗██║   ██║██║██╔════╝██╔════╝
#   ██║  ██║██║   ██║██████╔╝█████╗  ██████╔╝█████╗  ██╔████╔██║██║   ██║██║   ██║█████╗     ███████╗█████╗  ██████╔╝██║   ██║██║██║     █████╗  
#   ██║  ██║██║   ██║██╔═══╝ ██╔══╝  ██╔══██╗██╔══╝  ██║╚██╔╝██║██║   ██║╚██╗ ██╔╝██╔══╝     ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██║██║     ██╔══╝  
#   ██████╔╝╚██████╔╝██║     ███████╗██║  ██║███████╗██║ ╚═╝ ██║╚██████╔╝ ╚████╔╝ ███████╗██╗███████║███████╗██║  ██║ ╚████╔╝ ██║╚██████╗███████╗
#   ╚═════╝  ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝ ╚═════╝   ╚═══╝  ╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚═╝ ╚═════╝╚══════╝                                                                                                                                         
                                                                                      
# <===============================================================================================================================================>
#                                                                 @Author: TheWisker
# <===============================================================================================================================================>
[Unit]
Description=Find duplicate regions in %i and submit them for deduplication
Documentation=man:duperemove(8)
# <===============================================================================================================================================>
[Service]
Type=oneshot
TimeoutStopSec=60
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecStart=/usr/bin/duperemove -qdhr --batchsize=128 --hashfile=/var/cache/duperemove/hash %i
# <===============================================================================================================================================>
